NEXT_PUBLIC_SUPABASE_URL=https://cdeglmgqmmqruberjzbb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkZWdsbWdxbW1xcnViZXJqemJiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY3MTg5NTk3NiwiZXhwIjoxOTg3NDcxOTc2fQ.6gWmpny-Xkfohm-NV-N3gFiUKI9XmX4cM78MLS5pRGI